body{
    background: #1f8ece;
    font: normal 15pt arial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin-top: 15%;
    display: grid;
    align-items: center;
}

header{
    color: white;
    text-align: center;
}
section{
    background:  white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);

}
div{
    text-align: center;
}
.button{
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 30%;
    height: 3rem;
    background: rgb(31, 146, 31);
    border-radius: 0.5rem;
    border-bottom: solid #11171b ;
}

footer{
    margin-top: 15px;
    color: white;
    font-style: italic;
    text-align: center;
}